USE [master]
GO
/****** Object:  Database [BIKESTORE11]    Script Date: 18-10-2019 17:46:53 ******/
CREATE DATABASE [BIKESTORE11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIKESTORE11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKESTORE11.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIKESTORE11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKESTORE11_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIKESTORE11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIKESTORE11]
GO
/****** Object:  Schema [PRODUCTIONSCHEMA]    Script Date: 18-10-2019 17:46:53 ******/
CREATE SCHEMA [PRODUCTIONSCHEMA]
GO
/****** Object:  Schema [SALESCHEMA]    Script Date: 18-10-2019 17:46:53 ******/
CREATE SCHEMA [SALESCHEMA]
GO
/****** Object:  Table [PRODUCTIONSCHEMA].[BRANDS]    Script Date: 18-10-2019 17:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTIONSCHEMA].[BRANDS](
	[BRAND_ID] [int] NOT NULL,
	[BRAND_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BRAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTIONSCHEMA].[CATEGORIES]    Script Date: 18-10-2019 17:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTIONSCHEMA].[CATEGORIES](
	[CATEGORY_ID] [int] NOT NULL,
	[CATEGORY_NAME] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTIONSCHEMA].[PRODUCTS]    Script Date: 18-10-2019 17:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTIONSCHEMA].[PRODUCTS](
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_NAME] [varchar](50) NULL,
	[BRAND_ID] [int] NULL,
	[MODEL_YEAR] [int] NULL,
	[LIST_PRICE] [decimal](18, 0) NULL,
	[CATEGORY_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALESCHEMA].[CUSTOMERS]    Script Date: 18-10-2019 17:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALESCHEMA].[CUSTOMERS](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[STREET] [varchar](50) NOT NULL,
	[CITY] [varchar](20) NOT NULL,
	[CUST_STATE] [varchar](20) NOT NULL,
	[ZIP_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALESCHEMA].[ORDERS]    Script Date: 18-10-2019 17:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALESCHEMA].[ORDERS](
	[ORDER_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[ORDER_STATUS] [varchar](1) NULL,
	[ORDER_DATE] [date] NULL,
	[REQUIRED_DATE] [date] NULL,
	[SHIPPED_DATE] [date] NULL,
	[STORE_ID] [int] NULL,
	[STAFF_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALESCHEMA].[STAFFS]    Script Date: 18-10-2019 17:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALESCHEMA].[STAFFS](
	[STAFF_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PHONE] [varchar](50) NOT NULL,
	[ACTIVE] [varchar](50) NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[MANAGER_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALESCHEMA].[STORES]    Script Date: 18-10-2019 17:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALESCHEMA].[STORES](
	[STORE_ID] [int] IDENTITY(1,1000) NOT NULL,
	[STORE_NAME] [varchar](50) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[STREET] [varchar](50) NOT NULL,
	[CITY] [varchar](20) NOT NULL,
	[CUST_STATE] [varchar](20) NOT NULL,
	[ZIP_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [PRODUCTIONSCHEMA].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([CATEGORY_ID])
REFERENCES [PRODUCTIONSCHEMA].[CATEGORIES] ([CATEGORY_ID])
GO
ALTER TABLE [SALESCHEMA].[ORDERS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [SALESCHEMA].[CUSTOMERS] ([CUSTOMER_ID])
GO
ALTER TABLE [SALESCHEMA].[ORDERS]  WITH CHECK ADD FOREIGN KEY([STAFF_ID])
REFERENCES [SALESCHEMA].[STAFFS] ([STAFF_ID])
GO
ALTER TABLE [SALESCHEMA].[ORDERS]  WITH CHECK ADD FOREIGN KEY([STORE_ID])
REFERENCES [SALESCHEMA].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALESCHEMA].[STAFFS]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [SALESCHEMA].[STAFFS] ([STAFF_ID])
GO
ALTER TABLE [SALESCHEMA].[STAFFS]  WITH CHECK ADD FOREIGN KEY([STORE_ID])
REFERENCES [SALESCHEMA].[STORES] ([STORE_ID])
GO
USE [master]
GO
